powerapps/pkgs/Wadl/Utilisateursd’Office365.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-001.azure-apim.net/apim/office365users" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Utilisateursd’Office365" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Utilisateurs d’Office 365">Le fournisseur de connexion Utilisateurs d’Office 365 vous permet d’accéder aux profils d’utilisateurs de votre organisation à l’aide de votre compte Office 365. Vous pouvez effectuer différentes actions, notamment obtenir votre profil, celui d’un utilisateur ou celui d’un responsable, obtenir des rapports directs, ou encore modifier un profil d’utilisateur.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://europe-001.azure-apim.net/apim/office365users" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="GraphUserUpdateable_V1_aboutMe_def" />
      <dateTimeString name="GraphUserUpdateable_V1_birthday_def" />
      <string name="GraphUserUpdateable_V1_interests_def_items_def" />
      <array type="string" name="GraphUserUpdateable_V1_interests_def" />
      <string name="GraphUserUpdateable_V1_mySite_def" />
      <string name="GraphUserUpdateable_V1_pastProjects_def_items_def" />
      <array type="string" name="GraphUserUpdateable_V1_pastProjects_def" />
      <string name="GraphUserUpdateable_V1_schools_def_items_def" />
      <array type="string" name="GraphUserUpdateable_V1_schools_def" />
      <string name="GraphUserUpdateable_V1_skills_def_items_def" />
      <array type="string" name="GraphUserUpdateable_V1_skills_def" />
      <object name="GraphUserUpdateable_V1">
        <property name="aboutMe" type="string" />
        <property name="birthday" typeRef="GraphUserUpdateable_V1_birthday_def" />
        <property name="interests" typeRef="GraphUserUpdateable_V1_interests_def" />
        <property name="mySite" type="string" />
        <property name="pastProjects" typeRef="GraphUserUpdateable_V1_pastProjects_def" />
        <property name="schools" typeRef="GraphUserUpdateable_V1_schools_def" />
        <property name="skills" typeRef="GraphUserUpdateable_V1_skills_def" />
      </object>
      <string name="GraphTrending_id_def" />
      <number name="GraphTrending_weight_def" />
      <object name="GraphTrending">
        <property name="id" type="string" />
        <property name="weight" type="number" />
        <property name="resourceVisualization" typeRef="resourceVisualization" />
        <property name="resourceReference" typeRef="resourceReference" />
      </object>
      <string name="resourceVisualization_title_def" />
      <string name="resourceVisualization_type_def" />
      <string name="resourceVisualization_mediaType_def" />
      <string name="resourceVisualization_previewImageUrl_def" />
      <string name="resourceVisualization_previewText_def" />
      <string name="resourceVisualization_containerWebUrl_def" />
      <string name="resourceVisualization_containerDisplayName_def" />
      <string name="resourceVisualization_containerType_def" />
      <object name="resourceVisualization">
        <property name="title" type="string" />
        <property name="type" type="string" />
        <property name="mediaType" type="string" />
        <property name="previewImageUrl" type="string" />
        <property name="previewText" type="string" />
        <property name="containerWebUrl" type="string" />
        <property name="containerDisplayName" type="string" />
        <property name="containerType" type="string" />
      </object>
      <string name="resourceReference_webUrl_def" />
      <string name="resourceReference_id_def" />
      <string name="resourceReference_type_def" />
      <object name="resourceReference">
        <property name="webUrl" type="string" />
        <property name="id" type="string" />
        <property name="type" type="string" />
      </object>
      <array typeRef="Person" name="LinklessEntityListResponse_ux5B_List_ux5B_Person_ux5D_ux5D__value_def" />
      <object name="LinklessEntityListResponse_ux5B_List_ux5B_Person_ux5D_ux5D_">
        <property name="value" typeRef="LinklessEntityListResponse_ux5B_List_ux5B_Person_ux5D_ux5D__value_def" />
      </object>
      <string name="Person_id_def" />
      <string name="Person_displayName_def" />
      <string name="Person_givenName_def" />
      <string name="Person_surname_def" />
      <string name="Person_birthday_def" />
      <string name="Person_personNotes_def" />
      <boolean name="Person_isFavorite_def" />
      <string name="Person_jobTitle_def" />
      <string name="Person_companyName_def" />
      <string name="Person_department_def" />
      <string name="Person_officeLocation_def" />
      <string name="Person_profession_def" />
      <string name="Person_userPrincipalName_def" />
      <string name="Person_imAddress_def" />
      <array typeRef="ScoredEmailAddress" name="Person_scoredEmailAddresses_def" />
      <array typeRef="Phone" name="Person_phones_def" />
      <object name="Person">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="givenName" type="string" />
        <property name="surname" type="string" />
        <property name="birthday" type="string" />
        <property name="personNotes" type="string" />
        <property name="isFavorite" type="boolean" />
        <property name="jobTitle" type="string" />
        <property name="companyName" type="string" />
        <property name="department" type="string" />
        <property name="officeLocation" type="string" />
        <property name="profession" type="string" />
        <property name="userPrincipalName" type="string" />
        <property name="imAddress" type="string" />
        <property name="scoredEmailAddresses" typeRef="Person_scoredEmailAddresses_def" />
        <property name="phones" typeRef="Person_phones_def" />
      </object>
      <string name="ScoredEmailAddress_address_def" />
      <number name="ScoredEmailAddress_relevanceScore_def" />
      <object name="ScoredEmailAddress">
        <property name="address" type="string" />
        <property name="relevanceScore" type="number" />
      </object>
      <string name="Phone_number_def" />
      <string name="Phone_type_def" />
      <object name="Phone">
        <property name="number" type="string" />
        <property name="type" type="string" />
      </object>
      <string name="User_Id_def" />
      <boolean name="User_AccountEnabled_def" />
      <string name="User_BusinessPhones_def_items_def" />
      <array type="string" name="User_BusinessPhones_def" />
      <string name="User_City_def" />
      <string name="User_CompanyName_def" />
      <string name="User_Country_def" />
      <string name="User_Department_def" />
      <string name="User_DisplayName_def" />
      <string name="User_GivenName_def" />
      <string name="User_JobTitle_def" />
      <string name="User_Mail_def" />
      <string name="User_MailNickname_def" />
      <string name="User_mobilePhone_def" />
      <string name="User_OfficeLocation_def" />
      <string name="User_PostalCode_def" />
      <string name="User_Surname_def" />
      <string name="User_TelephoneNumber_def" />
      <string name="User_UserPrincipalName_def" />
      <object name="User">
        <property name="Id" type="string" />
        <property name="AccountEnabled" type="boolean" />
        <property name="BusinessPhones" typeRef="User_BusinessPhones_def" />
        <property name="City" type="string" />
        <property name="CompanyName" type="string" />
        <property name="Country" type="string" />
        <property name="Department" type="string" />
        <property name="DisplayName" type="string" />
        <property name="GivenName" type="string" />
        <property name="JobTitle" type="string" />
        <property name="Mail" type="string" />
        <property name="MailNickname" type="string" />
        <property name="mobilePhone" type="string" />
        <property name="OfficeLocation" type="string" />
        <property name="PostalCode" type="string" />
        <property name="Surname" type="string" />
        <property name="TelephoneNumber" type="string" />
        <property name="UserPrincipalName" type="string" />
      </object>
      <boolean name="ClientPhotoMetadata_HasPhoto_def" />
      <integer name="ClientPhotoMetadata_Height_def" />
      <integer name="ClientPhotoMetadata_Width_def" />
      <string name="ClientPhotoMetadata_ContentType_def" />
      <string name="ClientPhotoMetadata_ImageFileExtension_def" />
      <object name="ClientPhotoMetadata">
        <property name="HasPhoto" type="boolean" />
        <property name="Height" type="integer" />
        <property name="Width" type="integer" />
        <property name="ContentType" type="string" />
        <property name="ImageFileExtension" type="string" />
      </object>
      <object name="Object" />
      <array typeRef="User" name="EntityListResponse_ux5B_IReadOnlyList_ux5B_User_ux5D_ux5D__value_def" />
      <string name="EntityListResponse_ux5B_IReadOnlyList_ux5B_User_ux5D_ux5D___ux40_odata_nextLink_def" />
      <object name="EntityListResponse_ux5B_IReadOnlyList_ux5B_User_ux5D_ux5D_">
        <property name="value" typeRef="EntityListResponse_ux5B_IReadOnlyList_ux5B_User_ux5D_ux5D__value_def" />
        <property name="@odata.nextLink" type="string" />
      </object>
      <string name="GraphUser_V1_aboutMe_def" />
      <boolean name="GraphUser_V1_accountEnabled_def" />
      <dateTimeString name="GraphUser_V1_birthday_def" />
      <string name="GraphUser_V1_businessPhones_def_items_def" />
      <array type="string" name="GraphUser_V1_businessPhones_def" />
      <string name="GraphUser_V1_city_def" />
      <string name="GraphUser_V1_companyName_def" />
      <string name="GraphUser_V1_country_def" />
      <string name="GraphUser_V1_department_def" />
      <string name="GraphUser_V1_displayName_def" />
      <string name="GraphUser_V1_givenName_def" />
      <dateTimeString name="GraphUser_V1_hireDate_def" />
      <string name="GraphUser_V1_id_def" />
      <string name="GraphUser_V1_interests_def_items_def" />
      <array type="string" name="GraphUser_V1_interests_def" />
      <string name="GraphUser_V1_jobTitle_def" />
      <string name="GraphUser_V1_mail_def" />
      <string name="GraphUser_V1_mailNickname_def" />
      <string name="GraphUser_V1_mobilePhone_def" />
      <string name="GraphUser_V1_mySite_def" />
      <string name="GraphUser_V1_officeLocation_def" />
      <string name="GraphUser_V1_pastProjects_def_items_def" />
      <array type="string" name="GraphUser_V1_pastProjects_def" />
      <string name="GraphUser_V1_postalCode_def" />
      <string name="GraphUser_V1_preferredLanguage_def" />
      <string name="GraphUser_V1_preferredName_def" />
      <string name="GraphUser_V1_responsibilities_def_items_def" />
      <array type="string" name="GraphUser_V1_responsibilities_def" />
      <string name="GraphUser_V1_schools_def_items_def" />
      <array type="string" name="GraphUser_V1_schools_def" />
      <string name="GraphUser_V1_skills_def_items_def" />
      <array type="string" name="GraphUser_V1_skills_def" />
      <string name="GraphUser_V1_state_def" />
      <string name="GraphUser_V1_streetAddress_def" />
      <string name="GraphUser_V1_surname_def" />
      <string name="GraphUser_V1_userPrincipalName_def" />
      <string name="GraphUser_V1_userType_def" />
      <object name="GraphUser_V1">
        <property name="aboutMe" type="string" />
        <property name="accountEnabled" type="boolean" />
        <property name="birthday" typeRef="GraphUser_V1_birthday_def" />
        <property name="businessPhones" typeRef="GraphUser_V1_businessPhones_def" />
        <property name="city" type="string" />
        <property name="companyName" type="string" />
        <property name="country" type="string" />
        <property name="department" type="string" />
        <property name="displayName" type="string" />
        <property name="givenName" type="string" />
        <property name="hireDate" typeRef="GraphUser_V1_hireDate_def" />
        <property name="id" type="string" />
        <property name="interests" typeRef="GraphUser_V1_interests_def" />
        <property name="jobTitle" type="string" />
        <property name="mail" type="string" />
        <property name="mailNickname" type="string" />
        <property name="mobilePhone" type="string" />
        <property name="mySite" type="string" />
        <property name="officeLocation" type="string" />
        <property name="pastProjects" typeRef="GraphUser_V1_pastProjects_def" />
        <property name="postalCode" type="string" />
        <property name="preferredLanguage" type="string" />
        <property name="preferredName" type="string" />
        <property name="responsibilities" typeRef="GraphUser_V1_responsibilities_def" />
        <property name="schools" typeRef="GraphUser_V1_schools_def" />
        <property name="skills" typeRef="GraphUser_V1_skills_def" />
        <property name="state" type="string" />
        <property name="streetAddress" type="string" />
        <property name="surname" type="string" />
        <property name="userPrincipalName" type="string" />
        <property name="userType" type="string" />
      </object>
      <string name="UpdateMyPhoto_param_body_def" />
      <array typeRef="GraphTrending" name="MyTrendingDocuments_responses_200_def_value_def" />
      <object name="MyTrendingDocuments_responses_200_def">
        <property name="value" typeRef="MyTrendingDocuments_responses_200_def_value_def" />
      </object>
      <string name="UserPhoto_responses_200_def" />
      <array typeRef="User" name="DirectReports_responses_200_def" />
      <array typeRef="User" name="SearchUser_responses_200_def" />
      <array typeRef="GraphUser_V1" name="DirectReports_V2_responses_200_def_value_def" />
      <object name="DirectReports_V2_responses_200_def">
        <property name="value" typeRef="DirectReports_V2_responses_200_def_value_def" />
      </object>
      <string name="UserPhoto_V2_responses_200_def" />
      <array typeRef="GraphTrending" name="TrendingDocuments_responses_200_def_value_def" />
      <object name="TrendingDocuments_responses_200_def">
        <property name="value" typeRef="TrendingDocuments_responses_200_def_value_def" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-001.azure-apim.net/apim/office365users">
    <resource path="/{connectionId}/codeless/v1.0/me">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="PATCH" id="UpdateMyProfile" visibility="advanced" siena:isDeprecated="false" siena:status="Production">
        <doc title="Mettre à jour mon profil&#xA;Met à jour le profil de l'utilisateur actuel" />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="aboutMe" path="/aboutMe" type="xs:string" />
            <param style="plain" name="birthday" path="/birthday" type="service:GraphUserUpdateable_V1_birthday_def" />
            <param style="plain" name="interests" path="/interests" type="service:GraphUserUpdateable_V1_interests_def" />
            <param style="plain" name="mySite" path="/mySite" type="xs:string" />
            <param style="plain" name="pastProjects" path="/pastProjects" type="service:GraphUserUpdateable_V1_pastProjects_def" />
            <param style="plain" name="schools" path="/schools" type="service:GraphUserUpdateable_V1_schools_def" />
            <param style="plain" name="skills" path="/skills" type="service:GraphUserUpdateable_V1_skills_def" />
          </representation>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/v1.0/me">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="MyProfileV2" siena:isDeprecated="false" siena:family="MyProfile" siena:revision="2" siena:status="Production">
        <doc title="Obtenir mon profil (V2)&#xA;Récupère le profil de l’utilisateur actuel. En savoir plus sur les champs disponibles pour sélection : https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/resources/user#properties" />
        <request>
          <param style="query" name="$select" type="xs:string">
            <doc title="Liste de champs à sélectionner, séparés par une virgule. Exemple : surname, departement, jobTitle" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GraphUser_V1" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/v1.0/me/photo/$value">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="PUT" id="UpdateMyPhoto" visibility="advanced" siena:isDeprecated="false" siena:status="Production">
        <doc title="Mettre à jour ma photo de profil&#xA;Met à jour la photo de profil de l'utilisateur actuel. La taille de la photo doit être inférieure à 4 Mo." />
        <request>
          <param style="header" name="Content-Type" type="xs:string" required="true" default="image/jpeg">
            <doc title="Type de contenu image (par exemple « image/jpeg »)" />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/beta/me/insights/trending">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="MyTrendingDocuments" siena:isDeprecated="false">
        <doc title="Obtenir mes documents tendance&#xA;Récupère les documents tendance de l'utilisateur connecté" />
        <request>
          <param style="query" name="$filter" type="xs:string">
            <doc title="Filtre OData pour filtrer les ressources sélectionnées. Filtrez les ressources sélectionnées sur ResourceVisualization/Type ou ResourceVisualization/containerType" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:MyTrendingDocuments_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/{userId}/relevantpeople">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="Nom ou ID principal de l’utilisateur." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="RelevantPeople" visibility="advanced" siena:isDeprecated="false">
        <doc title="Obtenir les contacts adéquats&#xA;Obtenez les contacts adéquats." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:LinklessEntityListResponse_ux5B_List_ux5B_Person_ux5D_ux5D_" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/me">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="MyProfile" visibility="advanced" siena:isDeprecated="true" siena:family="MyProfile" siena:revision="1" siena:status="Production">
        <doc title="Obtenir mon profil (V1)&#xA;Récupère le profil de l'utilisateur actuel." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:User" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/{userId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="Nom ou ID principal de l’utilisateur." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="UserProfile" visibility="advanced" siena:isDeprecated="true" siena:family="UserProfile" siena:revision="1" siena:status="Production">
        <doc title="Obtenir le profil de l'utilisateur (V1)&#xA;Récupère le profil d'un utilisateur spécifique." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:User" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/photo">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="UserPhotoMetadata" siena:isDeprecated="false">
        <doc title="Obtenir les métadonnées de la photo de l'utilisateur&#xA;Obtenez les métadonnées de la photo de l'utilisateur." />
        <request>
          <param style="query" name="userId" type="xs:string" required="true">
            <doc title="Nom ou ID principal de l’utilisateur." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ClientPhotoMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/photo/value">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="UserPhoto" visibility="advanced" siena:isDeprecated="true" siena:family="UserPhoto" siena:revision="1" siena:status="Production">
        <doc title="Obtenir la photo de l'utilisateur (V1)&#xA;Récupère la photo de l'utilisateur spécifié s'il en a une." />
        <request>
          <param style="query" name="userId" type="xs:string" required="true">
            <doc title="Nom ou ID principal de l’utilisateur." />
          </param>
        </request>
        <response>
          <representation mediaType="application/octet-stream" siena:dtype="image" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/{userId}/manager">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="Nom ou ID principal de l’utilisateur." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="Manager" visibility="advanced" siena:isDeprecated="true" siena:family="Manager" siena:revision="1" siena:status="Production">
        <doc title="Obtenir le responsable (V1)&#xA;Récupère le profil du responsable de l'utilisateur spécifié." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:User" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/{userId}/directReports">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="Nom ou ID principal de l’utilisateur." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="DirectReports" visibility="advanced" siena:isDeprecated="true" siena:family="DirectReports" siena:revision="1" siena:status="Production">
        <doc title="Obtenir les collaborateurs (V1)&#xA;Récupère les profils des collaborateurs directs de l'utilisateur spécifié." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:DirectReports_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="SearchUser" visibility="advanced" siena:isDeprecated="true" siena:family="SearchUser" siena:revision="1" siena:status="Production">
        <doc title="Rechercher des utilisateurs&#xA;Récupère les profils d'utilisateurs qui correspondent au terme de recherche." />
        <request>
          <param style="query" name="searchTerm" type="xs:string">
            <doc title="Chaîne de recherche (s'applique à : nom d'affichage, prénom, nom, e-mail, pseudonyme de messagerie et nom d'utilisateur principal)." />
          </param>
          <param style="query" name="top" type="xs:int" default="0">
            <doc title="Limitez le nombre de résultats à retourner. Par défaut, retourne toutes les entrées." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:SearchUser_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/users">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="SearchUserV2" visibility="advanced" siena:isDeprecated="false" siena:family="SearchUser" siena:revision="2" siena:status="Production">
        <doc title="Rechercher des utilisateurs (V2)&#xA;Récupère les profils utilisateur qui correspondent au terme de recherche (V2)." />
        <request>
          <param style="query" name="searchTerm" type="xs:string">
            <doc title="Recherchez une chaîne (s’applique à : nom complet, nom donné, nom, courrier électronique, surnom de messagerie et nom principal de l’utilisateur). Si aucune valeur n’est spécifiée, aucun filtrage ne sera appliqué." />
          </param>
          <param style="query" name="top" type="xs:int">
            <doc title="Limite du nombre de résultats à retourner. La valeur minimale est 1. La valeur par défaut est 1 000." />
          </param>
          <param style="query" name="skipToken" type="xs:string">
            <doc title="Ignorez le jeton pour obtenir les utilisateurs suivants." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:EntityListResponse_ux5B_IReadOnlyList_ux5B_User_ux5D_ux5D_" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/v1.0/users/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Nom ou ID principal de l’utilisateur." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="UserProfileV2" siena:isDeprecated="false" siena:family="UserProfile" siena:revision="2" siena:status="Production">
        <doc title="Obtenir le profil de l'utilisateur (V2)&#xA;Récupère le profil d’un utilisateur spécifique. En savoir plus sur les champs disponibles pour sélection : https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/resources/user#properties" />
        <request>
          <param style="query" name="$select" type="xs:string">
            <doc title="Liste de champs à sélectionner, séparés par une virgule. Exemple : surname, departement, jobTitle" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GraphUser_V1" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/v1.0/users/{id}/manager">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Nom ou ID principal de l’utilisateur." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ManagerV2" siena:isDeprecated="false" siena:family="Manager" siena:revision="2" siena:status="Production">
        <doc title="Obtenir le responsable (V2)&#xA;Récupère le profil du responsable de l’utilisateur spécifié. En savoir plus sur les champs disponibles pour sélection : https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/resources/user#properties" />
        <request>
          <param style="query" name="$select" type="xs:string">
            <doc title="Liste de champs à sélectionner, séparés par une virgule. Exemple : surname, departement, jobTitle" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GraphUser_V1" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/v1.0/users/{id}/directReports">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Nom ou ID principal de l’utilisateur." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="DirectReportsV2" siena:isDeprecated="false" siena:family="DirectReports" siena:revision="2" siena:status="Production">
        <doc title="Obtenir les collaborateurs (V2)&#xA;Récupère les profils utilisateur des collaborateurs directs de l’utilisateur spécifié. En savoir plus sur les champs disponibles pour sélection : https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/resources/user#properties" />
        <request>
          <param style="query" name="$select" type="xs:string">
            <doc title="Liste de champs à sélectionner, séparés par une virgule. Exemple : surname, departement, jobTitle" />
          </param>
          <param style="query" name="$top" type="xs:int">
            <doc title="Limitez le nombre de résultats à retourner. Par défaut, retourne toutes les entrées." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:DirectReports_V2_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/v1.0/users/{id}/photo/$value">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Nom ou ID principal de l’utilisateur." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="UserPhotoV2" siena:isDeprecated="false" siena:family="UserPhoto" siena:revision="2" siena:status="Production">
        <doc title="Obtenir la photo de l'utilisateur (V2)&#xA;Récupère la photo de l'utilisateur spécifié s'il en a une" />
        <request />
        <response>
          <representation mediaType="application/octet-stream" siena:dtype="image" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/beta/users/{id}/insights/trending">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Nom ou ID principal de l’utilisateur." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="TrendingDocuments" siena:isDeprecated="false">
        <doc title="Documents tendance de l'utilisateur demandé&#xA;Documents tendance de l'utilisateur" />
        <request>
          <param style="query" name="$filter" type="xs:string">
            <doc title="Filtre OData pour filtrer les ressources sélectionnées. Filtrez les ressources sélectionnées sur ResourceVisualization/Type ou ResourceVisualization/containerType" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:TrendingDocuments_responses_200_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_office365users" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>